/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2014, 9:54:23 AM
    Author     : Bunk
*/

/*
Rangers colors are:
#BD1021 - Red
#FFFFFF - White
#003279 - Blue
*/


.anchorpane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #003279;
    -fx-border-width: 2;
    
}

.background {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #003279;
    -fx-border-width: 2;
}

.background-hover {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BD1021;
    -fx-border-width: 2;
}

.gridpane {
    -fx-background-color: #FFFFFF;
    
}

.splitpane {
    -fx-background-color: #FFFFFF;
    
}

.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #003279;
}

.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #003279;
}

.button {
    
    
    
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(#ffffff, #BD1021);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #003279;
    -fx-background-insets: 0;
    
}

.button-hover {
    
    
    
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(#ffffff, #BD1021);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #003279;
    -fx-background-insets: 0;
}
/*
.table-row-cell:empty {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BD1021;
}
 */
.table-row-cell:hover{
    -fx-background-color: #ffffff;
}
 
.table-row-cell:selected{
    -fx-background-color: #BD1021;
}
/*
.table-row-cell {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BD1021;
}

.table-column-cell {
    -fx-background-color: #003279;
    -fx-border-color: #BD1021;
}
*/